<figure class="image" style= "text-align: center; margin-bottom: 5pt;">
<div class="two_img" style="display:flex">
    <div class="imgContainer">
        <img src="{{ include.url1 }}" width="{{ include.width1 }}" align="middle">
        <figcaption style= "text-align: center;">{{ include.description1 }}</figcaption>
    </div>
    <div class="imgContainer">
        <img src="{{ include.url2 }}" width="{{ include.width2 }}" align="middle">
        <figcaption style= "text-align: center;">{{ include.description2 }}</figcaption>
    </div>
</div>
</figure>
